# CMake
build/

# latex
*.log
*.aux
*.synctex.gz
*.toc
*.tex.bak
*.fdb_latexmk
*.fls
*.out
*.blg
*.bbl
*.lof
*.glo
*.ist
*.acn
*.lol
*.glsdefs
*.xdy
*.lot
*.acr
*.alg
*.glg
*.gls

# latex svg
svg-inkscape
*svg-raw.pdf
*svg-tex.pdf
*svg-tex.pdf_tex

# latex-wordcount
._wordcount_selection.tex

# ltex grammar/spell checker
ltex.dictionary.es.txt
ltex.disabledRules.es.txt